body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}
header {
    text-align:center;
    background-image: url(https://encurtador.com.br/ehtJL);
    background-position:center;
    padding: 80px;
    font-style: oblique;
}
section {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
}
section div {
    flex-basis: 30%;
    margin: 10px;
    text-align: center;
}
section img{
    width: 70%;
    height: 70%;
    border-radius: 2px;
}
button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 160%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(27, 87, 255)
}
#nomeesq{
    text-align: left;
    position: relative; top: 22px;
}
#nomedireito{    text-align: right;
    position: relative; top: -25px;
}
#texto{
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#tracinho{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}